<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash Messages</title>
    <script src="https://kit.fontawesome.com/5015b70303.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="box success">
        
            <button onclick="this.parentElement.style.display='none';"><i class="fa-solid fa-xmark"></i></button>
       
        <div>
            <i class="icon fa-solid fa-circle-check fa-2xl"></i>
            <h2>Success!</h2>
            <h4>Your request has been completed.</h4>
           
        </div>
        <a href="/">Continue</a>
    </div>
    <div class="box unsuccessful">
        <button onclick="this.parentElement.style.display='none';"><i class="fa-solid fa-xmark"></i></button>
        <div>
            <i class="icon fa-solid fa-circle-exclamation fa-2xl"></i>
            <h2>Oops!</h2>
            <h4>Something went wrong.</h4>
           
        </div>
        <a href="/">Try again</a>
    </div>

</body>
<script>
  
</script>
</html>
